<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" xmlns:float="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" type="text/css" href="/easyui/themes/default/easyui.css"/>
    <link rel="stylesheet" type="text/css" href="/easyui/themes/icon.css"/>
    <link rel="stylesheet" type="text/css" href="/easyui/demo/demo.css"/>
    <script type="text/javascript" src="/easyui/jquery.min.js"></script>
    <script type="text/javascript" src="/easyui/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="/easyui/easyui-lang-zh_CN.js"></script>
    <script type="text/javascript" src="/js1/nursing_service.js"></script>
</head>
<style>
    .datagrid-btable{
        width:100%;
    }
    .datagrid-header-inner{
        width:100%;
    }
    .datagrid-header{
        width:100%;
    }
    .datagrid-htable{
        width:100%;
    }
    .datagrid-cell{margin:auto;}
    .fitem{text-align:left}
    .ftitle{text-align:center}
</style>

<body>
<div class="easyui-layout" data-options="fit:true">
    <div data-options="region:'north'" style="width: 100%;height: 9%">
    </div>

    <div data-options="region:'center',title:'服务列表'">
        <table id="datagrid"  class="easyui-datagrid" style="width:100%;height:100%"
               url="/nursingservices"
               toolbar="#dgtoolbar" pagination="true"
               pageSize="25"    pageList="[25,15,10]"
               rownumbers="true" fitColumns="true" singleSelect="true" >
            <thead>
            <tr>
                <th data-options="field:'serviceName',align:'center',width:'9%'">服务名称</th>
                <th data-options="field:'serviceTypeCode',formatter:changeServiceType,align:'center',width:'9%'">服务类型</th>
                <th data-options="field:'serviceNumber',align:'center',width:'9%'">次数</th>
                <th data-options="field:'servicePrice',align:'center',width:'11%'">价格</th>
            </tr>
            </thead>
        </table>
        <div id="dgtoolbar">
            <a href="#" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="newNursingService()">添加</a>
            <a href="#" class="easyui-linkbutton" iconCls="icon-cut" plain="true" onclick="removeNursingService()">删除</a>
            <a href="#" class="easyui-linkbutton" iconCls="icon-save" plain="true" onclick="editNursingService()">修改</a>
        </div>

    </div>
</div>

<div id="modifydg" class="easyui-dialog" style="width:400px;height:280px;padding:10px 20px"
     closed="true" buttons="#modifydg-buttons">
    <div class="ftitle">用户信息</div>
    <form id="fim" method="post" >
        <div class="fitem">
            <label>服务名称:</label>
            <input name="serviceName"  class="easyui-validatebox" required="true" />
        </div>
        <div class="fitem">
            <label>服务类型:</label>
<!--            <input name="serviceTypeCode" class="easyui-validatebox" required="true" />-->
            <select name="serviceTypeCode" class="easyui-validatebox">
                <option value="1">月月护</option>
                <option value="2">单项/套餐</option>
            </select>
        </div>
        <div class="fitem">
            <label>次&nbsp;&nbsp;&nbsp;&nbsp;数:</label>
            <input name="serviceNumber" class="easyui-validatebox" required="true" />
        </div>
        <div class="fitem">
            <label>价&nbsp;&nbsp;&nbsp;&nbsp;格:</label>
            <input name="servicePrice" class="easyui-validatebox" required="true" />
        </div>
        <input type="hidden" name="_method" id="_method" value="PATCH"/>
    </form>
</div>
<div id="modifydg-buttons">
            <a href="#" class="easyui-linkbutton"  onclick="saveNursingServices()">保存</a>
            <a href="#" class="easyui-linkbutton"  onclick="javascript:$('#modifydg').dialog('close')">取消</a>
</div>

<div id="adddg" class="easyui-dialog" style="width:400px;height:280px;padding:10px 20px"
     closed="true" buttons="#adddg-buttons">
    <div class="ftitle">用户信息</div>
    <form id="fam" method="post" >
        <div class="fitem">
            <label>服务名称:</label>
            <input name="serviceName" class="easyui-validatebox" required="true" />
        </div>
        <div class="fitem">
            <label>服务类型:</label>
            <select name="serviceTypeCode" class="easyui-validatebox">
                <option value="1">月月护</option>
                <option value="2">单项/套餐</option>
            </select>
        </div>
        <div class="fitem">
            <label>次&nbsp;&nbsp;&nbsp;&nbsp;数:</label>
            <input name="serviceNumber" class="easyui-validatebox" required="true" />
        </div>
        <div class="fitem">
            <label>价&nbsp;&nbsp;&nbsp;&nbsp;格:</label>
            <input name="servicePrice" class="easyui-validatebox" required="true" />
        </div>

    </form>
</div>
<div id="adddg-buttons">
    <a href="#" class="easyui-linkbutton"  onclick="addNursingService()">添加</a>
    <a href="#" class="easyui-linkbutton"  onclick="javascript:$('#adddg').dialog('close')">取消</a>
</div>

</body>
</html>